h1{
	text-align:center;
}
.FuncDec{
	font-family:monospace;
	margin-top:20px;
	display:block;
	border:1px solid white;
	background-color:white;
	padding:5px;
}
.FuncDec .Top{
	display:inline;
}
.FuncDec .Top a{
	text-decoration:none;
	font-weight:bold;
	color:black;
}
.FuncDec .Name {
	display:inline;
}
.FuncDec .Name a{
	font-size:inherit;
	margin:0px;
	padding:0px;
	font-weight:bold;
	color:darkgreen;
	display:inline;
}
.FuncDec .Klammer{
	color:red;
	font-style:italic;
	display:inline;
}
.FuncDec .Vars{
	font-style:italic;
	display:inline;
}
.FuncDec .Comment{
padding-left:50px;
margin-bottom:20px;
}
select{
	font-family:monospace;
}
.FuncListLeft{
	background-color:#eee;
	margin:5px;
}
.FuncListLeft a{
	text-decoration:none;
	color:blue;
	font-family:sans-serif;
}
.FuncListLeft a:hover{
	background-color:#ddd;
}
.FuncDec .FuncContent{
	display:none;
}
body{
	margin-left:20px;
}
.small{
	font-size:11px;
}

h1,h2,h3,p,ul{
	margin:0px;
	padding:0px;
}
ul{
	padding-left:20px;
	list-style:square;
}
p,li{
	line-height:140%;
}

.code{
	font-family:monospace;
}