.DEBUGVARS{
font-size:11px;
display:none;
}
img{
	border:0px;
}
a{
	border:0px;margin:0px;padding:0px;
	}
td{
	vertical-align: top;
	}

ul#sortables {
	margin: 0;
	padding: 0;
	width:500px;
}
.ObjektBox{
	margin:5px;
	border:1px solid #ddd;
	padding:5px;
}
li.sortme {
	padding:5px;
	width:40px;
	font-size:10px;
	cursor:pointer;
	list-style:none;
	min-height:40px;
	border:1px solid red;
	border-top:0px;
	margin:5px;
	text-align:center;
}

ul#sortables li {
}

#POD{
	height:520px;
	border:1px solid #bbbbbb;
	width:320px;
	text-align:left;
}

#POD #Display{
	position:relative;
	height:150px;
	overflow:hidden;
	margin:10px;
	width:300px;
	border:1px solid #bbb;
	background-color:#eeeeee;
}
#POD #Display #Moving{
	height:150px;
	width:300px;
	overflow:auto;
	position:relative;
}
#POD #Table{
	vertical-align:middle;
	width:100%;
}

#POD #Table td,#POD #Table th{
	vertical-align:middle;
	font-size:12px;
	font-family:sans-serif;
	line-height:22px;
	padding-left:5px;
	padding-right:5px;
}

#POD #Table tr:hover{
	background-image:url(Verlauf.png);
	line-height:22px;
	color:white;
}
#POD #Table th{
	text-align:center;
}
#POD #Buttons{
	margin:10px;
}
#POD #Buttons a {
	margin-left:30px;
	maring-right:30px;
	height:32px;
}
#POD #Rad{
	margin:10px;
	margin-top:0px;
	height:280px;
	position:relative;
}
#POD #Rad input{
	border:1px solid #bbbbbb;
	background-color:#eeeeee;
	font-size:12px;
	margin-bottom:5px;
	width:100%;
}
.banburylogin {
	margin-top:2ex;
	margin-bottom:1ex;
	background-color:#D0FFD0;
	padding:1ex;
}
.openidlogin{
	margin-top:2ex;
	margin-bottom:1ex;
	background-color:#D0D0FF;
	padding:1ex;
}
.openidlogin input{
   background: url(http://openid.net/login-bg.gif) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   color: #000;
   padding-left: 18px;
}

