.DEBUGVARS{
font-size:11px;
display:none;
}
img{
	border:0px;
}
a{
	border:0px;margin:0px;padding:0px;
	}
td{
	vertical-align: top;
	}

ul#sortables {
	margin: 0;
	padding: 0;
	width:500px;
}
.ObjektBox{
	margin:5px;
	border:1px solid #ddd;
	padding:5px;
}
li.sortme {
	padding:5px;
	width:40px;
	font-size:10px;
	cursor:pointer;
	list-style:none;
	min-height:40px;
	border:1px solid red;
	border-top:0px;
	margin:5px;
	text-align:center;
}

ul#sortables li {
}

#POD{
	height:520px;
	border:1px solid black;
	width:320px;
	text-align:left;
}
#PODDisplay{
	position:relative;
	width:100%;
	height:150px;
}
#PODTable{
width:100%;
}
#PODTable td{
	padding-right:20px;
}
#POD #Display{
	overflow:hidden;
	position:relative;
	margin:20px;
	font-family: sans-serif;
	font-size:13px;
	height:150px;
	border:1px solid black;
	background-color:#eee;
	margin-bottom:0px;

}
#POD #Buttons{
	text-align:center;
}
#POD #Buttons a{
	position:relative;
	top:10px;
	margin:20px;
}
#POD #Display tr:hover{
	cursor:pointer;
	background-image:url(darkgreygradient.png);
	color:white;
}

#POD #Display #NewPod:hover{
	background-image:none;
	color:black;
}

#POD #Display td, #POD #Display th{
	padding:2px;
	height:18px;
}
#POD #Inforahmen{
	font-size:12px;

}
#POD #Inforahmen input{
	font-size:11px;
	border: 1px solid #bbb;
	background-color:transparent;
	width:100%;
	margin-bottom:5px;
}
#POD #hwui{
	width: 300px;
	height:300px;
}
.banburylogin {
	margin-top:2ex;
	margin-bottom:1ex;
	background-color:#D0FFD0;
	padding:1ex;
}
.openidlogin{
	margin-top:2ex;
	margin-bottom:1ex;
	background-color:#D0D0FF;
	padding:1ex;	
}
.openidlogin input{
   background: url(http://openid.net/login-bg.gif) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   color: #000;
   padding-left: 18px;
}

