.DEBUGVARS{
font-size:11px;
display:none;
}
img{
	border:0px;
}



	ul#sortables {
				margin: 0;
				padding: 0;
				width:500px;
			}

			li.sortme {
				padding: 4px 8px;
				width:500px;

				cursor: pointer;
				list-style: none;
				min-height: 150px;
				border:1px solid red;
				border-top:0px;
				margin:5px;
			}

			ul#sortables li {
			}